body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
@keyframes spinner {
	to {transform: rotate(360deg);}
}

.spinner:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 50px;
	height: 50px;
	margin-top: -25px;
	margin-left: -25px;
	border-radius: 50%;
	border: 5px solid transparent;
	border-top-color: #07d;
	border-bottom-color: #07d;
	animation: spinner .8s ease infinite;
	z-index: 100;
}
.embed-responsive{
	margin-bottom: 2rem;
}
.video-wrapp {

}
.video-list{cursor: pointer;}
.search-bar.navbar {
	padding-left: 0;
}
.searchField{
	width: 20rem;
	padding: 0.2rem 0.5rem;
}
.details {
	padding-top: 2rem;
}
.media-body{
	align-self: center;
}
.media-title {
	font-weight: bold;
	font-size: 1.1rem;
}
.media-heading {
	font-size: 0.9rem;
}
.media-left {margin-right: 1rem;}
.embed-responsive{
	background: #000;
}